coupon/wsdl/ctcc_mm_send_interface_2_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- June 11, 2005 -->
<wsdl:definitions
   name="ctcc_mm_send_interface"
   targetNamespace="http://www.chinatelecom.com.cn/wsdl/ctcc/multimedia_messaging/send/v2_2/interface"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:ctcc_mm_send="http://www.chinatelecom.com.cn/wsdl/ctcc/multimedia_messaging/send/v2_2/interface"
   xmlns:ctcc_common_faults="http://www.chinatelecom.com.cn/wsdl/ctcc/common/v2_0/faults"
   xmlns:ctcc_mm_xsd="http://www.chinatelecom.com.cn/schema/ctcc/multimedia_messaging/v2_2"
   xmlns:ctcc_common_xsd="http://www.chinatelecom.com.cn/schema/ctcc/common/v2_1"
   xmlns:ctcc_mm_send_local_xsd="http://www.chinatelecom.com.cn/schema/ctcc/multimedia_messaging/send/v2_2/local">

   <wsdl:import namespace="http://www.chinatelecom.com.cn/wsdl/ctcc/common/v2_0/faults" location="ctcc_common_faults_2_0.wsdl"/>

   <wsdl:types>
      <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatelecom.com.cn/schema/ctcc/multimedia_messaging/send/v2_2/local">
         <xsd:import namespace="http://www.chinatelecom.com.cn/schema/ctcc/multimedia_messaging/v2_2" schemaLocation="ctcc_mm_types_2_2.xsd"/>
         <xsd:import namespace="http://www.chinatelecom.com.cn/schema/ctcc/common/v2_1" schemaLocation="ctcc_common_types_2_1.xsd"/>

         <xsd:element name="sendMessage" type="ctcc_mm_send_local_xsd:sendMessage"/>
         <xsd:complexType name="sendMessage">
            <xsd:sequence>
               <xsd:element name="addresses" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element name="senderAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="subject" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="priority" type="ctcc_mm_xsd:MessagePriority" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="charging" type="ctcc_common_xsd:ChargingInformation" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="receiptRequest" type="ctcc_common_xsd:SimpleReference" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="sendMessageResponse" type="ctcc_mm_send_local_xsd:sendMessageResponse"/>
         <xsd:complexType name="sendMessageResponse">
            <xsd:sequence>
               <xsd:element name="result" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMessageDeliveryStatus" type="ctcc_mm_send_local_xsd:getMessageDeliveryStatus"/>
         <xsd:complexType name="getMessageDeliveryStatus">
            <xsd:sequence>
               <xsd:element name="requestIdentifier" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="getMessageDeliveryStatusResponse" type="ctcc_mm_send_local_xsd:getMessageDeliveryStatusResponse"/>
         <xsd:complexType name="getMessageDeliveryStatusResponse">
            <xsd:sequence>
               <xsd:element name="result" type="ctcc_mm_xsd:DeliveryInformation" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>

   <wsdl:message name="SendMessage_sendMessageRequest">
      <wsdl:part name="parameters" element="ctcc_mm_send_local_xsd:sendMessage"/>
   </wsdl:message>

  <!--增加SOAPHeader部分-->
  <wsdl:message name="SendMessageRequestSOAPHeader">
    <wsdl:part name="RequestSOAPHeader" element="ctcc_common_xsd:RequestSOAPHeader" />
  </wsdl:message>
  <!--增加SOAPHeader部分-->

  <wsdl:message name="SendMessage_sendMessageResponse">
      <wsdl:part name="result" element="ctcc_mm_send_local_xsd:sendMessageResponse"/>
   </wsdl:message>

   <wsdl:message name="SendMessage_getMessageDeliveryStatusRequest">
      <wsdl:part name="parameters" element="ctcc_mm_send_local_xsd:getMessageDeliveryStatus"/>
   </wsdl:message>

   <wsdl:message name="SendMessage_getMessageDeliveryStatusResponse">
      <wsdl:part name="result" element="ctcc_mm_send_local_xsd:getMessageDeliveryStatusResponse"/>
   </wsdl:message>

   <wsdl:portType name="SendMessage">
      <wsdl:operation name="sendMessage">
         <wsdl:input message="ctcc_mm_send:SendMessage_sendMessageRequest"/>
         <wsdl:output message="ctcc_mm_send:SendMessage_sendMessageResponse"/>
         <wsdl:fault name="ServiceException" message="ctcc_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="ctcc_common_faults:PolicyException"/>
      </wsdl:operation>

      <wsdl:operation name="getMessageDeliveryStatus">
         <wsdl:input message="ctcc_mm_send:SendMessage_getMessageDeliveryStatusRequest"/>
         <wsdl:output message="ctcc_mm_send:SendMessage_getMessageDeliveryStatusResponse"/>
         <wsdl:fault name="ServiceException" message="ctcc_common_faults:ServiceException"/>
         <wsdl:fault name="PolicyException" message="ctcc_common_faults:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
