coupon/wsdl/provice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsi.huateng.com/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsi.huateng.com/" xmlns:intf="http://wsi.huateng.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://wsi.huateng.com/" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doBusiness">
    <complexType>
     <sequence>
      <element name="arg0" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doBusinessResponse">
    <complexType>
     <sequence>
      <element name="return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doBusinessResponse">

      <wsdl:part element="impl:doBusinessResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="doBusinessRequest">

      <wsdl:part element="impl:doBusiness" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ProvinceWsInterDelegate">

      <wsdl:operation name="doBusiness">

         <wsdl:input message="impl:doBusinessRequest" name="doBusinessRequest"/>

         <wsdl:output message="impl:doBusinessResponse" name="doBusinessResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProvinceWsInterPortSoapBinding" type="impl:ProvinceWsInterDelegate">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doBusiness">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doBusinessRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doBusinessResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProvinceWsInterService">

      <wsdl:port binding="impl:ProvinceWsInterPortSoapBinding" name="ProvinceWsInterDelegate">

         <wsdlsoap:address location="http://localhost:8080/coupon/services/provice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
